body { margin: 0; background: lightgrey; }

.header {
    background: #26699a;
    height: 70px;
    padding: 24px;
    box-sizing: border-box;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 150;
    font: 18px sans-serif;
    color: white;
    transition: all .25s ease-out;
}

.min .header { background-color: #333333}

.content {
    margin-top: 70px;
    height: 900px;
    padding: 24px;
    box-sizing: border-box;
    background-color: lightgrey;
    font: 14px sans-serif;
}